@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  /* COLORS */
  --hue: 500;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --gray-headline: hsl(210, 11%, 15%);
  --gray-paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --primary-color-light: hsl(calc(var(--hue) + 22), 23%, 89%);
  --primary-color-light-02: hsl(calc(var(--hue) + 10), 14%, 97%);
  --primary-color-hover: hsl(var(--hue), 100%, 14%);

  /* SIZES */
  --mobile-width-screen: 37.5rem;
  --navigation-height: 7.2rem;

  font-size: 10px;
}

/*==================== GENERAL ====================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
  background-color: var(--primary-color-light-02);
}

header {
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

h2 {
  color: var(--gray-headline);
  font-weight: 700;
  font-size: 3.4rem;
  margin-bottom: 2.4rem;
}

h3 {
  color: var(--gray-headline);
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

h4 {
  color: var(--gray-headline);
  font-weight: 700;
  font-size: 2.4rem;
  margin-block: 1.6rem;
}

p {
  font-size: 1.6rem;
  color: var(--gray-paragraph);
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*==================== SVG COLORS ====================*/

svg path[fill*='#00856F'] {
  fill: var(--primary-color);
}

svg path[stroke*='#00856F'] {
  stroke: var(--primary-color);
}

svg circle[fill*='#00856F'] {
  fill: var(--primary-color);
}

svg circle[fill*='#DCE9E2'] {
  fill: var(--primary-color-light);
}

.wrapper {
  padding-inline: 2.4rem;
  margin-inline: auto;
  width: var(--mobile-width-screen);
}

.button {
  display: flex;
  padding: 1.6rem 3.2rem;
  align-items: center;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: fit-content;
  gap: 1.6rem;
  transition: 200ms;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.button p {
  color: white;
  font-size: 1.4rem;
}

/*==================== NAVIGATION ====================*/

#navigation {
  transition: 200ms;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

#navigation svg {
  cursor: pointer;
}

#navigation .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--mobile-width-screen);
  height: var(--navigation-height);
  margin: auto;
}

#navigation.scroll {
  background-color: var(--primary-color);
  z-index: 1;
}

#navigation.scroll .logo path {
  fill: white;
}

#navigation.scroll .nav-open path {
  stroke: white;
}

.menu,
.nav-close {
  display: none;
}

/*==================== MENU-EXPANDED ====================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded .nav-open {
  display: none;
}

body.menu-expanded > :not(nav) {
  display: none;
}

body.menu-expanded .nav-close,
body.menu-expanded .logo {
  z-index: 1;
  display: block;
}

body.menu-expanded .logo svg path {
  fill: white;
}

body.menu-expanded path[fill*='#00856F'] {
  fill: var(--primary-color);
}

body.menu-expanded .menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: calc(6rem + var(--navigation-height));
}

body.menu-expanded ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

body.menu-expanded a {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--brand-beige);
  margin-block: 4rem;
}

body.menu-expanded .button {
  width: 27.4rem;
  margin-inline: auto;
  background-color: white;
  color: var(--primary-color);
  font-size: 1.8rem;
  transition: 200ms;
}

body.menu-expanded .button:hover {
  color: var(--brand-beige);
  background-color: var(--primary-color-hover);
}

body.menu-expanded .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*==================== HOME ====================*/

#home::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(108rem + 4rem);
  background-color: var(--primary-color-light);
}

#home {
  padding-top: calc(var(--navigation-height) + 4rem);
  text-align: center;
}

#home .content .button {
  margin: 3.2rem auto 3.75rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home img {
  display: block;
  width: 26.3rem;
  margin: auto;
  object-position: 0 1.7rem;
}

#home .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 32.7rem;
  background-color: var(--brand-beige);
  gap: 6rem;
  border-radius: 0.5rem;
  padding-block: 4rem;
}

#home .stat h3 {
  font-size: 4.8rem;
}

#home .stat p {
  color: var(--primary-color);
}

/*==================== SERVICES ====================*/

#services {
  padding-block: 10rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  margin-top: 6rem;
}

#services .card {
  width: 32.7rem;
  padding: 2.4rem;
  background-color: white;
  border: 1px solid var(--primary-color-light);
  border-radius: 6px;
}

#services .card h3 {
  margin: 1.6rem auto;
}

/*==================== ABOUT ====================*/

#about::before {
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(108rem + 4rem);
  background-color: var(--primary-color-light);
}

#about {
  padding-block: 10rem;
  background-color: var(--brand-beige);
}

#about header {
  text-align: left;
}

#about .content p {
  margin-bottom: 6rem;
}

#about .content img {
  width: 100%;
}

/*==================== CONTACT ====================*/

#contact {
  padding-block: 10rem;
  background-color: white;
}

#contact header {
  text-align: left;
}

#contact .content .info {
  padding-bottom: 1.6rem;
}

#contact .content .info li {
  display: flex;
  align-items: center;
  padding-block: 1.6rem;
}

#contact .content .info li svg {
  margin-right: 0.8rem;
}

#contact .content .button {
  margin-bottom: 3.75rem;
}

#contact .content img {
  width: 100%;
  margin-block: 1rem;
}

/*==================== FOOTER ====================*/

footer {
  background-color: var(--primary-color);
  padding-block: 6rem;
}

footer .logo {
  margin-bottom: 2.4rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  margin-bottom: 1.2rem;
}

footer .social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 3rem;
}

#upButton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 3rem 4rem;
  transition: 200ms;
  transform: translateY(100%);
}

#upButton.show {
  transform: translateY(0);
}

@media (min-width: 1024px) {
  body {
    overflow: initial;
  }

  /*==================== NAVIGATION ====================*/

  nav#navigation .nav-close,
  nav#navigation .nav-open,
  nav#navigation .menu .social-links {
    display: none;
  }

  #navigation .wrapper {
    width: min(112rem, 100%);
    padding-inline: 12.3rem;
    margin-inline: auto;
  }

  #navigation .menu {
    display: flex;
    justify-content: space-between;
    width: 67%;
  }

  #navigation .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4.8rem;
  }

  #navigation .menu ul a {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  #navigation .menu ul a {
    transition: 200ms;
    opacity: 70%;
  }

  #navigation .menu ul a.active,
  #navigation .menu ul a:hover {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);
    opacity: 100%;
  }

  #navigation .menu ul a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    position: relative;
    bottom: -2rem;
    left: -0.9rem;
    transition: 200ms;
  }

  #navigation .menu ul a.active.active,
  #navigation .menu ul a:hover::after {
    width: 100%;
    padding-inline: 1rem;
  }

  #navigation .menu a.button {
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid var(--primary-color);
    padding: 1rem 2.4rem;
    transition: 200ms;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
  }

  #navigation .menu a.button.active,
  #navigation .menu a.button:hover {
    color: white;
    background-color: var(--primary-color-hover);
  }

  #navigation.scroll .menu ul a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color-light-02);
    transition: 200ms;
  }

  #navigation.scroll .menu ul a.active,
  #navigation.scroll .menu ul a:hover {
    font-size: 1.6rem;
    font-weight: 700;
  }

  #navigation.scroll .menu ul a::after {
    background-color: white;
  }

  #navigation.scroll .menu a.button {
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid white;
    padding: 1rem 2.4rem;
    background-color: var(--primary-color);
    color: white;
  }

  #navigation.scroll .menu a.button.active,
  #navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color-hover);
  }

  /*==================== HOME ====================*/

  #home::before {
    height: calc(60rem);
  }

  #home .wrapper {
    width: min(112rem, 100%);
    padding-inline: 12.3rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'grid-a grid-b' 'stats stats';
  }

  #home header {
    text-align: left;
  }

  #home .grid-a {
    grid-area: grid-a;
    text-align: left;
  }

  #home .grid-a .button {
    margin-inline: 0;
  }

  #home .grid-b {
    grid-area: grid-b;
    width: 30rem;
    object-position: 0 1.9rem;
  }

  #home .stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    grid-area: stats;
    padding: 4rem 8rem;
  }

  /*==================== SERVICES ====================*/

  #services .wrapper {
    width: min(112rem, 100%);
    padding-inline: 12.3rem;
    margin-inline: auto;
  }

  #services .content .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  #services .content .cards .card {
    width: 30%;
    flex-grow: 1;
  }

  /*==================== ABOUT ====================*/

  #about .wrapper {
    width: min(112rem, 100%);
    padding-inline: 12.3rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: 'grid-a grid-b';
    gap: 4rem;
  }

  #about .grid-a {
    grid-area: grid-a;
  }

  #about .grid-a img {
    width: 100%;
  }

  #about .grid-b {
    grid-area: grid-b;
  }

  /*==================== CONTACT ====================*/

  #contact .wrapper {
    width: min(112rem, 100%);
    padding-inline: 12.3rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: 'grid-a grid-b';
    gap: 4rem;
  }

  #contact .grid-a {
    grid-area: grid-a;
  }

  #contact .grid-b {
    grid-area: grid-b;
  }

  #contact .grid-b img {
    width: 100%;
  }

  /*==================== FOOTER ====================*/

  footer .wrapper {
    width: min(112rem, 100%);
    padding-inline: 12.3rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }

  footer .wrapper .social-links {
    gap: 4rem;
  }
}
